[submodule "02 Foundry Fundamentals/Smart Contract Lottery/lib/solmate"]
	path = 02 Foundry Fundamentals/Smart Contract Lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "02 Foundry Fundamentals/Smart Contract Lottery/lib/foundry-devops"]
	path = 02 Foundry Fundamentals/Smart Contract Lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
